<mat-toolbar color="primary">
  <h1>GYM Registration App</h1>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-list role="list" style="background-color: whitesmoke; width: 180px; height: 91%;">

  <mat-list-item role="listitem" (click)="navigateTo('Home')" class="white-text">Home</mat-list-item>
  <mat-list-item role="listitem" (click)="navigateTo('register')" class="white-text">Registering Clients</mat-list-item>
  <mat-list-item role="listitem" (click)="navigateTo('registered')" class="white-text">Registered Clients</mat-list-item>
</mat-list>




<router-outlet></router-outlet>


<ng-confirm></ng-confirm>